@model Web.Models.HomeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.PageTitle</title>
    @Styles.Render("~/Content/css")
</head>
<body>
<div class="container">
    <div data-ng-app="main" data-ng-controller="MainController" class="row">
        <button ng-click="handleClick()">{{isRunning ? 'Stop': 'Start'}}</button>
        <div>
            <span ng-repeat="message in messages track by $index" ng-bind="message"></span>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/application")
</body>
</html>